/* view table*/
.yScroll{
	overflow-y:scroll;
}
.loading{
	position:absolute;
	z-index:40;
	width:18px;
	height:17px;
	background-image:url("../../laputa/images/anime/loading.gif");
}
.t-table{

    margin: 2px 0px 5px 0px;
}

.t-table .t-table-header{
	background-color:#f0f0f0;
	border:1px solid #ccc;
	line-height:25px;
	height:25px;
}
.t-table .t-table-header .t-table-column{
	font-weight: bold;
	color: #003366;
	float:left;
	border-right: 1px solid #ccc;
	padding:0px 0px 0px 4px ;
	height:25px;
}

.t-table .dtFooter{
	background-color:#f0f0f0;
	height:25px;
	border:1px solid #ccc;
	line-height:25px;
}


.t-table .dtHeader{
	background-color:#f0f0f0;
	height:25px;
	border:1px solid #ccc;
	line-height:23px;
	
}
.t-table .firstColumn{
	
}

.t-table .t-table-row{
	height:25px;
	cursor:pointer;
}


.t-table .t-table-row .t-table-data{
	float:left;
	padding:5px 0px 0px 4px ;
	height:19px;

}


.t-table .t-table-row .normal{
	border-bottom:1px solid #ccc;
}
.t-table .t-table-row .lastRow{
	border-bottom:1px solid #ccc;
}
.t-table .t-table-row .firstCol{
	border-bottom:1px solid #ccc;
}

.t-table .t-table-row .last-col{
	border-right:1px solid #ccc;
}

.t-table .t-table-row .normal-col{	
	border-right: 1px solid #ccc;
}

.t-table .t-table-row .t-table-data {
	word-break:break-all;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
/**pager*/
.DtPagerLink{
	float:left;
	width:25px;
	height:25px;
	cursor:pointer;
}
.DtPagerLinkD{
	float:left;
	width:25px;
	height:25px;	
}

.DtFirstPage{
	background:url("../../laputa/images/16X16/skip_forward.png") 5px 5px no-repeat;
	border-right:1px solid #ccc;
}
.DtFirstPageD{
	background:url("../../laputa/images/fact/sf_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtPrevPage{
	background:url("../../laputa/images/16X16/back1.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtPrevPageD{
	background:url("../../laputa/images/fact/b_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}

.DtNextPage{
	background:url("../../laputa/images/16X16/play.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtNextPageD{
	background:url("../../laputa/images/fact/p_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtLastPage{
	background:url("../../laputa/images/16X16/fast_forward.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtLastPageD{
	background:url("../../laputa/images/fact/ff_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtReload{
	background:url("../../laputa/images/16X16/refresh.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtJumpPage{
	float:right;
	line-height:25px;
	height:25px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-right:4px;
	padding-left:4px;
}

.DtJumpPage INPUT{
	margin-top:2px;
	font-size:11px;
	text-align:right;
}
.DtTotalPage{

	border-right: 1px solid #ccc;
	float:right;
	padding-right:4px;
	padding-left:4px;
}
.DtTotalRecords{

	float:right;
	padding-right:4px;
	padding-left:4px;
}

.onRow{
	background-color:#ccffff;
}
.selectedRow{
	background-color:#fdf8ee;
}

.centerText{ text-align:center;}

.t-table div.oddRow{
	background-color:#f4ffff;
}

.t-table div.evenRow{
	background-color:white;
}
