


.dlg {
	margin: 10;
	padding: 10;
	
	font-family: "Verdana", "Tahoma", "Helvetica", "Sans-Serif";
	font-size: 13px;

}


input, textarea, select, td {
	font-size: 13px;
	font-family: "Verdana", "Tahoma", "Helvetica", "Sans-Serif";
}

a:link, a:visited, a:active {
	color: #003366;
	text-decoration: none;
}

a:hover { 
	text-decoration: underline;
	color: #F37A0C;
}

.toolBar {
	background: ButtonFace;
	border-style: Solid;
	border-width: 1px;
	border-left-color: ButtonHighlight;
	border-right-color: ButtonShadow;
	border-top-color: ButtonHighlight;
	border-bottom-color: ButtonShadow;
}

.grid {
    margin: 2px 0px 5px 0px;
    border-collapse: collapse;
	background-color:white;
}

.grid th  {

    border: 1px solid #ccc;
    padding: 2px 4px 2px 4px;
    background: #f0f0f0;
    text-align: center;
}

.grid td  {
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
}

.tabletitle {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, sans-serif;
    padding: 3px 0px 2px 0px;
    margin: 8px 4px 2px 0px;
	color: #003366;
	border-bottom: 1px solid #3c78b5;
}

.breadcrumbs {
    background-color: #f0f0f0;
 	border-color: #3c78b5;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    font-size: 11px;
    padding: 3px 0px 3px 0px;
}

.greybox {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; MARGIN: 1px 1px 10px; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}

input.error  {
	border-color : Red;
	border-style : solid;
}

span.error  {
	color : Red;
}

tr.title {
	font-weight:bold; 
	background-color: #f0f0f0; 
	background-image: url("../images/index/title_bg.gif");
}

tr.header {
	background-color: #E7DB7E; 
	font-weight:bold;
}

.tips {
	font-size: 12px;
	color: black;
	background-color: FFFFE1;
	border: 1px solid black;
}
.attn{
	font-weight:bold; 
	background-color: #FFCC00; 

}
.redstar{
	color:red;
	font-weight:bold;
}

.numberEdit{
	text-align:right;
}

#pageTitle{
	/*display:none;*/
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, sans-serif;
    padding: 3px 0px 2px 0px;
    margin: 8px 4px 2px 0px;
	color: #003366;
	border-bottom: 1px solid #3c78b5;
}

.selecteRow{
	background-color:#FFCC66;
}

.blurRow{
	background-color:white;
}

.commonRow{
	background-color:white;
}

#calendarDiv{
	position:absolute; left:10px; top:10px;z-index:1300;
	display:none;
}


.nameSelector{
	display:none;
}
.nameViewer{
	/*display:none;*/
}

.shortcutEditor,.shortcutView{
	float:left;
}
.tableHeader{
	background-color:#969696;
	color:#F4F9FF;
}

