/* view table*/
.yScroll{
	overflow-y:scroll;
}
.loading{
	position:absolute;
	z-index:40;
	width:18px;
	height:17px;
	background-image:url("../images/anime/loading.gif");
}
.VT{

    margin: 2px 0px 5px 0px;
}
.VT .dtFooter{
	background-color:#f0f0f0;
	height:25px;
	border:1px solid #ccc;
	line-height:25px;
}

.VT TABLE{
    border-collapse: collapse;
	table-layout:fixed;
	font-size: 12px;
}

.VT .dtHeader{
	background-color:#f0f0f0;
	height:25px;
	border:1px solid #ccc;
	line-height:23px;
	
}
.VT .firstColumn{
	
}

.VT TR.dtColumn{
	font-weight: bold;
	color: #003366;
}

.VT TR.dtColumn TD{
	border-right: 1px solid #ccc;
}
/** data**/
.VT TR.dtData{
	padding:0 0px 0 4px ;
	height:25px;
	cursor:pointer;
}
.VT TR.dtData TD.normal{
	border-right: 1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.VT TR.dtData TD.lastRow{
	border-right: 1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.VT TR.dtData TD.firstCol{
	border-right: 1px solid #ccc;
	border-bottom:1px solid #ccc;
}

/**pager*/
.DtPagerLink{
	float:left;
	width:25px;
	height:25px;
	cursor:pointer;
}
.DtPagerLinkD{
	float:left;
	width:25px;
	height:25px;	
}

.DtFirstPage{
	background:url("../images/16X16/skip_forward.png") 5px 5px no-repeat;
	border-right:1px solid #ccc;
}
.DtFirstPageD{
	background:url("../images/fact/sf_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtPrevPage{
	background:url("../images/16X16/back1.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtPrevPageD{
	background:url("../images/fact/b_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}

.DtNextPage{
	background:url("../images/16X16/play.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtNextPageD{
	background:url("../images/fact/p_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtLastPage{
	background:url("../images/16X16/fast_forward.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtLastPageD{
	background:url("../images/fact/ff_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtReload{
	background:url("../images/16X16/refresh.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtJumpPage{
	float:right;
	line-height:25px;
	height:25px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-right:4px;
	padding-left:4px;
}

.DtJumpPage INPUT{
	margin-top:2px;
	font-size:11px;
	text-align:right;
}
.DtTotalPage{

	border-right: 1px solid #ccc;
	float:right;
	padding-right:4px;
	padding-left:4px;
}
.DtTotalRecords{

	float:right;
	padding-right:4px;
	padding-left:4px;
}

.onRow{
	background-color:#ccffff;
}
.selectedRow{
	background-color:#fdf8ee;
}

.centerText{ text-align:center;}

.VT tr.oddRow{
	background-color:#f4ffff;
}