<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- timetask -->
	<!-- <bean id="sendEmailTask"
		class="puerta.extension.task.SendEmailTask"
		autowire="byName">
	</bean>

	<bean id="scheduledSendEmailTask"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">

		<property name="delay" value="10000"/>
		
		<property name="period" value="30000"/>
		<property name="timerTask" ref="sendEmailTask"/>
	</bean> -->	



	<bean id="sendSmsTask"
		class="puerta.extension.task.SendSmsTask"
		autowire="byName">
	</bean>

	<bean id="scheduledSendSmsTask"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<!-- wait 10 seconds before starting repeated execution -->
		<property name="delay" value="20000"/>
		<!-- run every 5 seconds -->
		<property name="period" value="5000"/>
		<property name="timerTask" ref="sendSmsTask"/>
	</bean>	
	
	<bean id="timerFactory"
		class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<!-- <ref bean="scheduledSendEmailTask"/> -->
				<ref bean="scheduledSendSmsTask"/>
			</list>
		</property>
	</bean>
	
</beans>