
body,form,p,frameset,frame{
padding:0;margin:0;border:0
}
.r{
float:right;
}
.l{
float:left;
}
.c{
clear:both;
}
.h{
display:none;
}

html{
	overflow:hidden;
}

body {
	background: white;
	margin:0;
	padding: 0;
	
	font-family: "Verdana", "Tahoma", "Helvetica", "Sans-Serif","SimSun";
	font-size: 12px;
	overflow:hidden;	
}


.innerFrame {
	WIDTH: 100%; HEIGHT: 100%
}

#midPanel{
	height:28px;
	background: #F0F0F0;	
	border-bottom: 1px #3C78B5 solid;
	border-top: 1px #3C78B5 solid;	
}

#menuPanel{
	width:670px;
	float:left;
}
#tabsWrapper{	
	overflow:hidden;
	width:400px;
	height:26px;

	position:relative
}


.tabs-tool{
	float:left;
	width:50px;
	height:26px;
	overflow:hidden;
}

.tabs-tool div{
	float:left;	
	margin-top:5px;
}
.tabs-tool div span{
	display:block;
	height:16px;
	width:16px;
}
.tabs-tool .tab-prev span{
	background:url("../images/index/prev.png") no-repeat;cursor:pointer;
}

.tabs-tool .tab-prev span.disabled{
	background:url("../../laputa/images/fact/b_d.png") no-repeat;cursor:pointer;
}

.tabs-tool .tab-next span{
	background:url("../images/index/play.png") no-repeat;cursor:pointer;

}
.tabs-tool .tab-next span.disabled{
	background:url("../../laputa/images/fact/p_d.png") no-repeat;cursor:pointer;

}
#tabsPanel{
	height:26px;
	width:1000px;
	float:left;
}

#tabsPanel div.tab{
	position:relative;
	font-size:14px;
	margin:4px 0px 0px 5px;
	padding:0px 25px 0px 10px; 
	height:23px;
	line-height:23px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	float:left;
	cursor:pointer;
	overflow:hidden;
}

#tabsPanel div.tab a span.close{	
	position:absolute;
	right:4px;
	top:5px;
	background:url("../images/chrome/close.png") no-repeat;
	height:12px;
	width:12px;
	cursor:pointer;

}

#tabsPanel div.tab a:hover span.close{
	background:url("../images/chrome/close-hover.png") no-repeat;
	height:12px;
	width:12px;
	cursor:pointer;

}
#tabsPanel .actived{
	background-color:white;
}

#indexPanel{
	height:100px;
	width:100%;
	background-color:#f7f8f3;
	background:url("../images/index/bg.png");
	overflow:hidden;
}

#topPanel{
	text-align:right;
	height:20px;
	background:black;
	color:white;
}
#topBar{
	text-align:right;
	height:10px;
}

#middlePanel{
	float:left;
	height:37px;
	border-left:1px solid #ccc;
	margin-top:10px;
	margin-bottom:10px;
	line-height:37px;
}

#middlePanel span{
	
	padding-left:10px;
}

#rightWrapper{
	background:url("../images/index/right.png");
	height:100px;
	width:551px;
	float:right;
}

#rightPanel{
	position:absolute;
	height :20px;
	top:4px;
	right:10px;

}
#rightPanel A{

	margin-top: 4px;
	padding: 4px 4px 2px 10px;
	/*background-image: url("../images/index/links.gif");*/
	border-left:1px solid #ccc;
	background-repeat:no-repeat;
	background-position:4px 4px;
	color:black;
    /** border-right: 1px black solid;		 **/
}

#logoPanel{
	width:699px;
	height:100px;
	float :left;
	background-image: url("../images/index/left.png");
}


#topPanel A{

	margin-top: 2px;
	padding: 2px 4px 2px 10px;
	background-image: url("../images/index/links.gif");
	background-repeat:no-repeat;
	background-position:4px 4px;
	color:blue;
    /** border-right: 1px black solid;		 **/
}



.dlg {
	margin: 10;
	padding: 10;
	
	font-family: "Verdana", "Tahoma", "Helvetica", "Sans-Serif";
	font-size: 13px;

}


input, textarea, select, td {
	font-size: 13px;
	font-family: "Verdana", "Tahoma", "Helvetica", "Sans-Serif";
}

a:link, a:visited, a:active {
	color: #003366;
	text-decoration: none;
}

a:hover { 
	text-decoration: underline;
	color: #F37A0C;
}

.toolBar {
	background: ButtonFace;
	border-style: Solid;
	border-width: 1px;
	border-left-color: ButtonHighlight;
	border-right-color: ButtonShadow;
	border-top-color: ButtonHighlight;
	border-bottom-color: ButtonShadow;
}

.grid {
    margin: 2px 0px 5px 0px;
    border-collapse: collapse;
}

.grid th  {

    border: 1px solid #ccc;
    padding: 2px 4px 2px 4px;
    background: #f0f0f0;
    text-align: center;
}

.grid td  {
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
}

.tabletitle {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, sans-serif;
    padding: 3px 0px 2px 0px;
    margin: 8px 4px 2px 0px;
	color: #003366;
	border-bottom: 1px solid #3c78b5;
}

.breadcrumbs {
    background-color: #f0f0f0;
 	border-color: #3c78b5;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    font-size: 11px;
    padding: 3px 0px 3px 0px;
}

.greybox {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; MARGIN: 1px 1px 10px; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}

input.error  {
	border-color : Red;
	border-style : solid;
}

span.error  {
	color : Red;
}

tr.title {
	font-weight:bold; 
	background-color: #f0f0f0; 

}

tr.header {
	background-color: #E7DB7E; 
	font-weight:bold;
}

.tips {
	font-size: 12px;
	color: black;
	background-color: FFFFE1;
	border: 1px solid black;
}
.attn{
	font-weight:bold; 
	background-color: #FFCC00; 

}
.redstar{
	color:red;
	font-weight:bold;
}
#loginDialog{
	position:absolute;
	z-index:10;
	border:2px solid #3333CC;
	display:none;
	height:32px;
	line-height: 30px;
	margin:0px 10px 0px 0px;
	padding:4px;
	background-color:#f3f3f3;
}


#loginDialog{
	position:absolute;
	z-index:10;
	border:1px solid #3333CC;
	display:none;
	height:32px;
	line-height: 30px;
	margin:0px 10px 0px 0px;
}
#successDiv{
	position:absolute;
	top:1px;
	left:10px;
	z-index:2114;
	display:none;
	height:126px;
	width:140px;
	line-height: 30px;
	margin:0px 10px 0px 0px;
	background-image: url("../images/ok2.png");

}

#successDiv h1{
	float:left;
	font-weight:bold;
	font-size:14px;
	color:blue;
	padding-left:10px;
}



.mbox_win{border:4px solid blue; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#ebebeb; -moz-box-shadow:0 0 5px rgba(0, 0, 0, .7); -webkit-box-shadow:0 0 5px rgba(0, 0, 0, .7); box-shadow:0 0 5px rgba(0, 0, 0, .7); overflow:hidden;}

.mbox_bar{line-height:18px; padding:6px 10px 7px; border-bottom:1px solid #ddd; background-color:#fbfbfb; font-size:13px;}
.mbox_cont{}
.mbox_close{width:14px; height:14px; margin:-25px 10px 0 0; border:1px solid #d8d8d8; color:#999; font:bold 12px/14px Tahoma; text-align:center; text-decoration:none; float:right; position:relative;}
.mbox_close:hover{border-color:#ccc; background-color:#eee; color:#666; text-decoration:none;}
.mbox_operate{padding:0 10px 10px; text-align:right;}

.mbox_alert,.mbox_confirm,.mbox_remind{width:320px; padding:35px 20px;}
.mbox_loading{width:180px; padding:30px 0; text-align:center;}
.mbox_loading_image{margin:0 8px -8px 0;}


.logger{
	position:absolute;
	right:1px;
	top:1px;
	border:1px solid #ccc;
	background:#ffcc33;
	padding:5px;
}

#realMode{
	position:absolute;
	background:#ff9900;
	color:white;
	height:25px;
	line-height:25px;
	top:0px;
	left:240px;
	padding:5px 15px;
	font-size:14px;
	font-weight:bold;
	border:1px dashed #ff6600;
	border-top:0px;

}