/* view table*/
.yScroll{
	overflow-y:scroll;
}
.loading{
	position:absolute;
	z-index:40;
	width:18px;
	height:17px;
	background-image:url("../../laputa/images/anime/loading.gif");
}
.t-table{

    margin: 2px 0px 5px 0px;
}

.t-table .t-table-header{
	background-color:#f0f0f0;
	border:1px solid #ccc;
	line-height:25px;
	height:25px;
}
.t-table .t-table-header .t-table-column{
	font-weight: bold;
	color: #003366;
	float:left;
	border-right: 1px solid #ccc;
	padding:0px 0px 0px 4px ;
	height:25px;
}

.t-table .dtFooter{
	background-color:#f0f0f0;
	height:25px;
	border:1px solid #ccc;
	line-height:25px;
}


.t-table .dtHeader{
	background-color:#f0f0f0;
	height:25px;
	border:1px solid #ccc;
	line-height:23px;
	
}
.t-table .firstColumn{
	
}

.t-table .t-table-row{
	height:25px;
	cursor:pointer;
}


.t-table .t-table-row .t-table-data{
	float:left;
	padding:5px 0px 0px 4px ;
	height:19px;

}


.t-table .t-table-row .normal{
	border-bottom:1px solid #ccc;
}
.t-table .t-table-row .lastRow{
	border-bottom:1px solid #ccc;
}
.t-table .t-table-row .firstCol{
	border-bottom:1px solid #ccc;
}

.t-table .t-table-row .last-col{
	border-right:1px solid #ccc;
}

.t-table .t-table-row .normal-col{	
	border-right: 1px solid #ccc;
}

.t-table .t-table-row .t-table-data {
	word-break:break-all;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
/**pager*/
.DtPagerLink{
	float:left;
	width:25px;
	height:25px;
	cursor:pointer;
}
.DtPagerLinkD{
	float:left;
	width:25px;
	height:25px;	
}

.DtFirstPage{
	background:url("../../laputa/images/16X16/skip_forward.png") 5px 5px no-repeat;
	border-right:1px solid #ccc;
}
.DtFirstPageD{
	background:url("../../laputa/images/fact/sf_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtPrevPage{
	background:url("../../laputa/images/16X16/back1.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtPrevPageD{
	background:url("../../laputa/images/fact/b_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}

.DtNextPage{
	background:url("../../laputa/images/16X16/play.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtNextPageD{
	background:url("../../laputa/images/fact/p_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtLastPage{
	background:url("../../laputa/images/16X16/fast_forward.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtLastPageD{
	background:url("../../laputa/images/fact/ff_d.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtReload{
	background:url("../../laputa/images/16X16/refresh.png") 5px 5px no-repeat;border-right:1px solid #ccc;
}
.DtJumpPage{
	float:right;
	line-height:25px;
	height:25px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-right:4px;
	padding-left:4px;
}

.DtJumpPage INPUT{
	margin-top:2px;
	font-size:11px;
	text-align:right;
}
.DtTotalPage{

	border-right: 1px solid #ccc;
	float:right;
	padding-right:4px;
	padding-left:4px;
}
.DtTotalRecords{

	float:right;
	padding-right:4px;
	padding-left:4px;
}

.onRow{
	background-color:#f8e7c2;
}
.selectedRow{
	background-color:#fdf8ee;
}

.centerText{ text-align:center;}

.t-table div.oddRow{
	background-color:#f4ffff;
}

.t-table div.evenRow{
	background-color:white;
}

/** datagrid **/

.t-datagrid{

}

.t-datagrid .t-datagrid-tool{
	width:20px;
	padding:4px 0px 0px 4px ;
	float:left;
	border-right: 1px solid #ccc;
	height:21px;
}

.t-datagrid .t-datagrid-header {
	
	background-color:#f0f0f0;
	border:1px solid #ccc;
	line-height:25px;
	height:25px;
}

.t-datagrid .t-datagrid-header .t-datagrid-column{

	font-weight: bold;
	color: #003366;
	float:left;
	border-right: 1px solid #ccc;

}
.t-datagrid .t-datagrid-header .t-datagrid-column-text{
	padding:0px 0px 0px 4px ;
	height:25px;
}

.t-datagrid span.c{
	display:block;
	clear:both;
}

.edit-grid .t-datagrid-row{
	height:25px;
	line-height:25px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.view-grid .t-datagrid-row{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	vertical-align:middle;
}


.edit-grid .t-datagrid-row .t-datagrid-data{
	
	float:left;
	border-right: 1px solid #ccc;
	height:25px;
	
}
.view-grid .t-datagrid-row .t-datagrid-data{
	
	float:left;
	border-right: 1px solid #ccc;
	display:table-cell;
}
.view-grid .t-datagrid-row .t-datagrid-data div{	
	height:100%;   
	display:inline-block;   
	vertical-align:middle;
	padding:2px 0px; 

}


.t-datagrid .t-datagrid-row .t-datagrid-data input{
	border:0px;
}
.t-datagrid-display{
	word-wrap:break-word;
    word-break:break-all;
}

.logger {
	border:1px;
	position:absolute;
	z-index:10;
	border:1px solid blue;
	background-color:yellow;
	left:0px;
	top:0px;
	height:200px;
	overflow:scroll;
	width:200px;
}


/* suggest */
/**
 * autoSuggest.css
 *
 * http://www.theWittyRejoinder.com/autoSuggest.php
 * @version		0.9
 *
 * @license		MIT-style license http://www.opensource.org/licenses/mit-license.php
 * @author		Matthew (matthew at theWittyRejoinder.com)
 */
ul.suggestions {
	padding: 5px;
	background-color: #ffffff;
	z-index: 10;
	position: absolute;
	border: 1px solid #ccc;
	margin-top: 0px;
	margin-left: 0px;
	width:500px;
}

li.suggestionClass{
	list-style: none;
	cursor: pointer;	
}

li.suggestionHover{
	background-color: #cccccc;
}

span.queriedValue{
	font-weight: bold;
}

ul.suggestions h1,ul.suggestions h2{
	display:block;
	float:left;
	font-size:12px;
	font-weight:normal;
	margin:0px;

}
ul.suggestions h1{
	width:200px;
}

ul.suggestions h2{
	width:300px;
	overflow:hidden;
}

input.dateField{
	width:100px;
}
.t-datagrid-display{
	background:#ebebeb;
	overflow:hidden;
}

tr.summary{
	font-weight:bold;
	background-color:#f9f9f9;
}

tr.hover{
	background:#eefbfd
}


.t-moon-selector{
	margin:0px auto;
	width:520px;
}


.t-moon-selector .t-moon-item{
	float:left;
	margin:5px;
	text-align:center;
	border:1px dotted #ffc8a4;
	cursor:pointer;
}


.t-moon-selector .selected{
	
	border:1px solid;
}


.t-moon-selector .t-moon-item h3{
	width:60px;
	margin:0px;
	padding:0px;
	background:#ffc8a4;
	font-size:12px;
	padding:4px;
	color:white;
}

.t-moon-selector .selected h3{
	
	background:#ff9900;
}
.t-moon-selector .t-moon-item h4{
	width:60px;
	margin:0px;
	padding:0px;
	background:white;
	font-size:14px;
	color:#ccc;
}

.t-moon-selector .selected h4{
	color:#3300cc;
}

.t-moon-selector .links{
	
	cursor:pointer;
	display:block;
	float:left;
	margin-top:6px;
	width:11px;
	height:42px;
}


.t-moon-selector .prev{
	background:url("../images/ms/left.png");
	margin-right:5px;
}

.t-moon-selector .next{
	background:url("../images/ms/right.png");
	margin-left:5px;
}